@using Microsoft.AspNet.Identity

@{
    bool connect;
    if(ViewBag.Connect == null)
    {
        connect = false;
    }
    else
    {
        connect = ViewBag.Connect;
    }    
}

@if (/*Request.IsAuthenticated*/connect == true)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.Label("Bonjour admin" + User.Identity.GetUserName() + "!", htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Se déconnecter</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Se connecter", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
